<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key="Environment" value="Development" />
    <add key="DB_Development" value="Data Source=82.119.117.77;Initial Catalog=PokerSystem;User ID=PokerTimer;Password=Poker1969" />
    <add key="DB_Live" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>